log.html
output.xml
report.html
selenium-screenshot-1.png
selenium-screenshot-2.png
selenium-screenshot-3.png
selenium-screenshot-4.png
selenium-screenshot-5.png
selenium-screenshot-6.png
selenium-screenshot-7.png
selenium-screenshot-8.png
selenium-screenshot-9.png
selenium-screenshot-10.png
selenium-screenshot-11.png
selenium-screenshot-12.png
selenium-screenshot-13.png
selenium-screenshot-14.png
selenium-screenshot-15.png
selenium-screenshot-16.png
selenium-screenshot-17.png
selenium-screenshot-18.png
Evershop/__pycache__/config.cpython-313.pyc
Evershop/__pycache__/test_admin_login.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_admin_login.cpython-313.pyc
Evershop/__pycache__/test_category.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_client_login.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_create_category.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_create_category.cpython-313.pyc
Evershop/__pycache__/test_create_collection.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_create_collection.cpython-313.pyc
Evershop/__pycache__/test_create_product.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_login.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_order.cpython-313-pytest-8.4.0.pyc
Evershop/__pycache__/test_product.cpython-313-pytest-8.4.0.pyc
Premiers tests/Evershop
